
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(70, 171, 205);

}
.wrapper{
    width: 605px;
    background-color: white;
    border-radius: 10px;
    padding: 30px 30px 25px ;
}

.wrapper header{
    font-size: 35px;
    font-weight: 600px;
    text-align: center;
}
.wrapper .content{
    margin: 35px;
}

.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area i{
    font-size: 15px;
}
.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}

.quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}

.content .author{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    font-style: italic;
}
.author span:first-child{
    margin:-7px 5px 0 0 ;
    font-family: monospace;
}
.wrapper .buttons{
    border-top: 1px solid #ccc;
}
.features ul{
    display: flex;
}
.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    border-radius: 50%;
    border: 2px solid #5372f0;
    justify-content: center;
    align-items: center;
    color:#5372f0;
    cursor: pointer;
}

.features ul li:hover{
    color: #fff;
    background-color: #5372f0;
}
.features button{
    border: none;
    outline: none;
    background-color: #5372f0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 13px 22px;
    border-radius: 30px;

}
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
