*{
    padding: 0;
    margin: 0;
}
body {
  background-color: rgb(200, 59, 191);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container{
    background-color: white;
    height: 290px;
    max-width: 400px;
    color: rgb(41, 52, 56);
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}
h1{
    padding-top: 10px;
    margin: 15px;
}

p{
     padding-top: 10px;
     margin: 15px;
     font-size: 15px;
}


input {
  width: 85%;
  padding: 8px;
  margin: 10px 20px 5px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.btn{
  width: 90%;
  margin: 5px 20px 10px 20px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(200, 59, 191);
  color: white;
  cursor: pointer;
}

 #result {
      margin: 0 20px;
      font-weight: bold;
    }
