*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f8;
     
}

.card{
    width: 450px;
    background: #ffffff;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
    padding: 1.4rem 1.6rem;
    text-align: center;
    border-radius: 10px;


}

.hands{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 0px auto;
    padding: 1rem 1.4rem;
    border-radius: 18px;
}

.hands img{
    width: 130px;
    height: 130px;
    object-fit: contain;
}

#heading{
    color: rgb(105, 25, 179);
    padding: 20px;
}

button{
    background: transparent;
    border: none;
    flex-direction: column;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: transform .2s;
   
   

}
button img{
    width: 70px;
    height: 70px;
    object-fit: contain;
   
}
.rock{
    margin-left: 60px;
}
.scissors{
    margin-right: 80px;
}

.choices{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.8rem;

}


#userHand{
    transform: rotate(90deg);
}

#computerHand{
    transform: rotate(270deg) scaleX(-1);
}

span{
    color: rgb(68, 9, 123);;
    font:bold;
    padding: 20px;
    
}



